<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Curso Vue</title>
</head>
<body id="bg">
    <div id="app">
        <div class="card">
            <h1>
                Mis Cursos de Platzi
                <span><img :src="img" alt="" width="25px"></span>
            </h1>
            <div class="form-row">
                <input type="text" class="form-col inp_name" placeholder="Titulo del curso" v-model="title"/>
                <input type="number" class="form-col inp_number" placeholder="Horas" v-model="time"/>
                <button class="form-col btn-save" @click="addCourse">Guardar</button>
            </div>
            <!-- <p>
            </p>
            <p>
            </p>
            <p>
            </p> -->
            <div>
                <h3 v-if="totalTime > 0 ">Lista de cursos 🔥</h3>
                <h3 v-else="">Aun no has realizado cursos 😢</h3>
                <!-- <p class="red">Aun no has realizado cursos</p> -->
                <div>
                    <ol>
                    <!-- Lista de cursos -->
                        <li class="green" v-for="(course) in courses">{{ course.titleCourse }} - {{ course.timeCourse }} Hrs</li>
                    </ol>
                    <hr/>
                    <p>
                    Llevo <strong>{{ totalTime }}</strong> horas aprendiendo en Platzi.
                    <b>#NuncaParesDeAprender 💚</b>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>